.ftr
  background-color: hsl(216, 10%, 31%)
  padding: 40px 0 46px 0

  & > .container
    display: flex

  &__copyright
    display: flex
    color: rgb(199, 200, 203)
    align-items: center
    gap: 28px

  &__cop
    font-family: 'Nunito', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: #FFFFFF
    opacity: 0.7

  &__links
    display: flex
    gap: 20px
    margin: 0 90px 0 59px
    align-items: center


  &__item
    font-family: 'Nunito', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: #FFFFFF
    opacity: 0.7

  &__socialNet
    display: flex
    gap: 6px
































